---
layout: default_off_home
---

<!-- https://github.com/jglovier/resume-template/blob/gh-pages/_data/experience.yml -->
{% for job in site.resume.experience %}
<div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
  <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
  <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
  <p class="resume-item-copy">{{ job.summary }}</p>
</div><!-- end of resume-item -->
{% endfor %}