---
layout: midpoint
---
{{ site.collection.size }} 1234
{% if site.collection.size > 0 %}
	<ul class="post-list">
	  {% assign page_coll = page.collection | downcase %}
	  page_coll
	  {% for post in site.categories.[page_coll] %}
		<li>
		  {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
		  <span class="post-meta">{{ post.date | date: date_format }}</span>
		  <h3>
			<a class="post-link" href="{{ post.url | relative_url }}">
			  {{ post.title | escape }}
			</a>
		  </h3>
		</li>
	  {% endfor %}
	</ul>
{% endif %}
